body {
  background-color: rgb(66, 215, 244);
}

form {

  padding-left: auto;
  margin-top: 100px;
}

.botun {
  margin-left: 17.5%;
  width: 10%;
  height: 10%;
  max-height: 30px;
  font-size: 100%;
  overflow:hidden;
  text-overflow: ellipsis;
  line-height: 1.5;

}


#conteiner {
  height: 640px;
  width: 640px;
  margin: auto;
  margin-top: 100px;
  font-size: 0; /*mice vertikalni razmak izmedju div-ova*/

}

.square {

  height: 40px;
  width: 40px;
  box-sizing: border-box; /*da ne treba preracunavat margine, border i sl.*/
  border: 0px solid black;
  display: inline-block; /*da ih lipo nanize*/
  background-color: white;
}
