
html {
    height: 100%;
    margin:0px;
    background: url(https://static.pexels.com/photos/15286/pexels-photo.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

form {

  padding-left: auto;
  margin-top: 50px;
}

.botun {
  margin-left: 17.5%;
  width: 10%;
  height: 10%;
  max-height: 30px;
  font-size: 100%;
  overflow:hidden;
  text-overflow: ellipsis;
  line-height: 1.5;

}


#conteiner {
  height: 640px;
  width: 640px;
  margin: auto;
  margin-top: 10%;
  font-size: 0; /*mice vertikalni razmak izmedju div-ova*/
  box-shadow: 0 0 30px 15px #000;;
}

.square {

  height: 40px;
  width: 40px;
  box-sizing: border-box; /*da ne treba preracunavat margine, border i sl.*/
  border: 0px solid black;
  display: inline-block; /*da ih lipo nanize*/
  background-color: white;
}
